body{
    font-family: 'Lato', sans-serif;
}
.row-padding{
    padding: 100px 0;
}
.btn{
    background: #3a95e4;
    font-size: 12px;
    color: white;
    letter-spacing: 2px;
    padding: 7px 19px;
}
.btn:hover{
    background:#45a6f9 ;
}
.home-weedid{
    margin-top: 150px;
}
.home-weedid h1{
    font-weight: 300;
    letter-spacing: 2px;
}
.showcase{
    padding-top: 20px;
    padding-bottom: 0px;
    border-style: none;
}
.showcase img{
    width: 80%;
}
.home-weedid h4{
    font-weight: 300;
    margin-top: 20px;
    font-size: 21px;
    letter-spacing: 2px;
}
.quotes{
    font-size: 23px;
    line-height: 35px;
    letter-spacing: 2px;
}
h6 .penulis{
    font-size: 17px;
    margin-top: 20px;
    letter-spacing: 1px;
}