
.home-weeedid{
	margin-top: 0px;
}

.home-weeedid h1{
	font-weight: 800;
    letter-spacing: 3px;
    cursor: default;
}
.nuel img{
    width: 55%;    
    border: 10px solid #000000;
    box-shadow: 1.2rem 1rem 1rem ;
    transition: .75s;
}

.textalg{
    text-align: left;
    
}
.text span{
    display: inline-block;
    font: bolder;
}
span:hover{
    color: #FFEC72;
    transition: all .5s;
}

span.name{
    color: #AA6B71;
}
span.m-left{
    margin-left: -10px;    
}
.depocil{
    font-size: 3rem;
    color: #AA6B71;
}
.text p{
    letter-spacing: 3px;
    word-spacing: 10px;
    font-size: .8rem;
    opacity: .5;
}
.icon{
    font-size: 30px;
}
.icon-a{
    padding: 0px 10px;
}
.textalg a{
    padding: 12px 25px;
    background-color: none;
    border: 3px solid #000000;
    color: rgb(255, 255, 255);
    font-size: .8rem;
    font: bolder;
    letter-spacing: 2px;    
    top: 80px;    
    transition: .5s;
    display: inline-block;
    
    
}
.im{
    height: 100vh;    
}
.im-box{
    background-color: antiquewhite;
    box-shadow: 0 0 1.2rem;
    padding: 50px;
    top: 20%;    
}


/*
.text a::before{
    content: '';
    background-color: #FFEC72;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0%;
    z-index: -1;
    transition: -5s;
}
*/

.text a:hover::before{
    height: 100%;
}